.containers {
    background-color: transparent;
}

.rows:first-child{
    border-radius: 16rem 16rem 0 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.rows {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    font-weight: 500;
}

.rows:last-child {
    border-radius: 0 0 16rem 16rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}