@import url(./css/theme.css);
@import url(./custom/custom.theme.css);

:root,
body.light {
  --primary: var(--md-sys-color-primary-light) !important;
  --on-primary: var(--md-sys-color-on-primary-light) !important;
  --primary-container: var(--md-sys-color-primary-container-light) !important;
  --on-primary-container: var(
    --md-sys-color-on-primary-container-light
  ) !important;
  --secondary: var(--md-sys-color-secondary-light) !important;
  --on-secondary: var(--md-sys-color-on-secondary-light) !important;
  --secondary-container: var(
    --md-sys-color-secondary-container-light
  ) !important;
  --on-secondary-container: var(
    --md-sys-color-on-secondary-container-light
  ) !important;
  --tertiary: var(--md-sys-color-tertiary-light) !important;
  --on-tertiary: var(--md-sys-color-on-tertiary-light) !important;
  --tertiary-container: var(--md-sys-color-tertiary-container-light) !important;
  --on-tertiary-container: var(
    --md-sys-color-on-tertiary-container-light
  ) !important;
  --error: var(--md-sys-color-error-light) !important;
  --on-error: var(--md-sys-color-on-error-light) !important;
  --error-container: var(--md-sys-color-error-container-light) !important;
  --on-error-container: var(--md-sys-color-on-error-container-light) !important;
  --background: var(--md-sys-color-background-light) !important;
  --on-background: var(--md-sys-color-on-background-light) !important;
  --surface: var(--md-sys-color-surface-light) !important;
  --on-surface: var(--md-sys-color-on-surface-light) !important;
  --outline: var(--md-sys-color-outline-light) !important;
  --surface-variant: var(--md-sys-color-surface-variant-light) !important;
  --on-surface-variant: var(--md-sys-color-on-surface-variant-light) !important;
  --inverse-surface: var(--md-sys-color-inverse-surface-light) !important;
  --inverse-on-surface: var(--md-sys-color-inverse-on-surface-light) !important;
  --overlay: rgba(0, 0, 0, 0.5);
  --active: rgba(0, 0, 0, 0.1);
  --elevate1: 0 2rem 2rem 0 rgba(0, 0, 0, 0.14),
    0 1rem 5rem 0 rgba(0, 0, 0, 0.12), 0 3rem 1rem -2rem rgba(0, 0, 0, 0.2);
  --elevate2: 0 6rem 10rem 0 rgba(0, 0, 0, 0.14),
    0 1rem 18rem 0 rgba(0, 0, 0, 0.12), 0 3rem 5rem -1rem rgba(0, 0, 0, 0.3);
  --elevate3: 0 10rem 16rem 0 rgba(0, 0, 0, 0.14),
    0 1rem 31rem 0 rgba(0, 0, 0, 0.12), 0 3rem 9rem 0rem rgba(0, 0, 0, 0.4);
}

body.dark {
  --primary: var(--md-sys-color-primary-dark) !important;
  --on-primary: var(--md-sys-color-on-primary-dark) !important;
  --primary-container: var(--md-sys-color-primary-container-dark) !important;
  --on-primary-container: var(
    --md-sys-color-on-primary-container-dark
  ) !important;
  --secondary: var(--md-sys-color-secondary-dark) !important;
  --on-secondary: var(--md-sys-color-on-secondary-dark) !important;
  --secondary-container: var(
    --md-sys-color-secondary-container-dark
  ) !important;
  --on-secondary-container: var(
    --md-sys-color-on-secondary-container-dark
  ) !important;
  --tertiary: var(--md-sys-color-tertiary-dark) !important;
  --on-tertiary: var(--md-sys-color-on-tertiary-dark) !important;
  --tertiary-container: var(--md-sys-color-tertiary-container-dark) !important;
  --on-tertiary-container: var(
    --md-sys-color-on-tertiary-container-dark
  ) !important;
  --error: var(--md-sys-color-error-dark) !important;
  --on-error: var(--md-sys-color-on-error-dark) !important;
  --error-container: var(--md-sys-color-error-container-dark) !important;
  --on-error-container: var(--md-sys-color-on-error-container-dark) !important;
  --background: var(--md-sys-color-background-dark) !important;
  --on-background: var(--md-sys-color-on-background-dark) !important;
  --surface: var(--md-sys-color-surface-dark) !important;
  --on-surface: var(--md-sys-color-on-surface-dark) !important;
  --outline: var(--md-sys-color-outline-dark) !important;
  --surface-variant: var(--md-sys-color-surface-variant-dark) !important;
  --on-surface-variant: var(--md-sys-color-on-surface-variant-dark) !important;
  --inverse-surface: var(--md-sys-color-inverse-surface-dark) !important;
  --inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark) !important;
  --overlay: rgba(0, 0, 0, 0.5);
  --active: rgba(0, 0, 0, 0.1);
  --elevate1: 0 2rem 2rem 0 rgba(0, 0, 0, 0.14),
    0 1rem 5rem 0 rgba(0, 0, 0, 0.12), 0 3rem 1rem -2rem rgba(0, 0, 0, 0.2);
  --elevate2: 0 6rem 10rem 0 rgba(0, 0, 0, 0.14),
    0 1rem 18rem 0 rgba(0, 0, 0, 0.12), 0 3rem 5rem -1rem rgba(0, 0, 0, 0.3);
  --elevate3: 0 10rem 16rem 0 rgba(0, 0, 0, 0.14),
    0 1rem 31rem 0 rgba(0, 0, 0, 0.12), 0 3rem 9rem 0rem rgba(0, 0, 0, 0.4);
}

/* custom colors */

/* Variables */
:root,
body.light {
  --container-box-bg: var(--container-box-bg-light) !important;
}

body.dark {
  --container-box-bg: var(--container-box-bg-dark) !important;
}

/* class */
.container-box-bg {
  background-color: var(--container-box-bg) !important;
  color: var(--on-surface) !important;
}
